@{
    ViewData["Title"] = "Descripcion de la Aplicacion";
}
<h1>@ViewData["Title"]</h1>

<p>Prueba Desarrollador Semi - Senior Presentada por Camilo Berrio Romero. @DateTime.Now.ToString("dd-MM-yyyy")</p>
