@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
    @model PruebaDesarrollo.Models.City

    <h1>Eliminar ciudad</h1>

    <form id="DeleteCityForm" method="post">
        <div class="form-group">
            <input type="text" value="@ViewBag.code" readonly class="form-control" name="id" id="id" style="display:none" />
            <label for="description">Nombre:</label>
            <input type="text" value="@ViewBag.Nombre" readonly class="form-control" />
            <div id="confirmationMessage" style="display: none;"></div>
        </div>
        <button type="submit" class="btn btn-primary">Eliminar</button>
    </form>

    @section Scripts {
    <script>

        document.getElementById("DeleteCityForm").addEventListener("submit", function (event) {
            event.preventDefault();

            var city = {
                Code: document.getElementById("id").value,
            };

            fetch("/Cities/Delete", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(city)

            })
                .then(response => response.json())
                .then(data => {
                    var confirmationMessage = document.getElementById("confirmationMessage");
                    confirmationMessage.innerHTML = "Ciudad eliminada correctamente";
                    confirmationMessage.style.display = "block";
                    setTimeout(() => {
                         window.location.href = "/Cities/Get";
                 }, 1000);
                })
                .catch(error => {
                    console.error(error);
                });
        });
    </script>
    }



@{
}
